@model AddPersonnelDTO
<body>
    <main>
        <!-- Main Page Section -->
        <div class="new-users">
            <h2>Add Personnel</h2>
            <div class="user-list mt-4">
                <div class="user">
                    <h2 style="margin-top:15px; margin-left:120px">@Model.FirstName</h2>
                    <dl class="mt-5">
                        <form method="post" asp-controller="Manager" asp-action="AddPersonnel" enctype="multipart/form-data">
                            @* <div>
                                <input type="hidden" id="Photo" asp-for="Photo" value="" />
                            </div> *@
                            <div class="mb-4 pb-2">
                                <label asp-for="PhotoFile" class="form-label">Upload a Photo: </label><br />
                                <input asp-for="PhotoFile" id="PhotoFile" accept="image/png,image/jpeg,image/jpg"/>
                            </div>
                            <div class="mb-4 pb-2">
                                <label class="form-label">Department: </label><br />
                                <select asp-for="Department" class="select form-control" id="departmanSelect">
                                    @foreach (var item in ViewBag.Departments)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="form3Examplev2">First name</label>
                                        <input asp-for="FirstName" type="text" id="form3Examplev2" class="form-control form-control-lg" required /><br />
                                        <label class="form-label" for="form3Examplev2">Middle Name</label>
                                        <input asp-for="SecondFirstName" type="text" id="form3Examplev2" class="form-control form-control-lg" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="form3Examplev3">Last Name</label>
                                        <input asp-for="LastName" type="text" id="form3Examplev3" class="form-control form-control-lg" required /><br />
                                        <label class="form-label" for="form3Examplev3">Secondary Last Name</label>
                                        <input asp-for="SecondLastName" type="text" id="form3Examplev3" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4 pb-2">
                                <label class="form-label" for="form3Examplev4">Position: </label><br />
                                <select asp-for="Profession" class="select form-control" id="pozisyonSelect">
                                    @foreach (var position in ViewBag.Positions)
                                    {
                                        <option value="@position">@position</option>
                                    }
                                </select>


                            </div>
                            <div class="row">

                                <div class="col-md-6 mb-4 pb-2">
                                    <label class="form-label">Identity Number</label>
                                    <input asp-for="IdentityNumber" class="form-control" type="text" placeholder="Enter a Identity Number" required />

                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <label class="form-label">Birth Place</label>
                                    <input asp-for="BirthPlace" class="form-control" type="text" placeholder="Birth Place" required />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <label class="form-label">Birth Date</label>
                                    <input asp-for="BirthDate" class="form-control" type="date" />
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <label class="form-label">Salary</label>
                                    <input asp-for="Salary" class="form-control" type="text" placeholder="Salary" value="11400" required/>
                                </div>
                                
                            </div>
                            <div class="row">
                                <h6 class="mt-3 mb-4 text-primary">Address</h6>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 mb-4">
                                    <label for="Street" class="mb-4">City</label>
                                    @Html.DropDownListFor(model => model.SelectedCity,
                                    new SelectList(ViewBag.City, "Value", "Text"),
                                    "-- Select City --",
                                    new {@class="form-control", id = "CityDropdown"})

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="Town" class="mb-4">Town</label>
                                    <select id="TownDropdown" asp-for="SelectedTown" class="form-control mb-4">
                                        <option value="@Model.SelectedTown"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="District" class="mb-4">District</label>
                                    <select id="DistrictDropdown" asp-for="SelectedDistrict" class="form-control mb-4">
                                        <option value="@Model.SelectedDistrict"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Quarter" class="mb-4">Quarter</label>
                                    <select id="QuarterDropdown" asp-for="SelectedQuarter" class="form-control mb-4">
                                        <option value="@Model.SelectedQuarter"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="fullAddress" class="form-label mb-4">Full Address</label>
                                    <input asp-for="FullAddress" type="text" class="form-control mb-4" required />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="zip" class="mb-4">Zip Code</label>
                                    <input asp-for="ZipCode" type="text" class="form-control mb-4" id="zip" placeholder="Zip Code" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="phoneNumber" class="form-label mb-4">Phone Number</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control mb-4" required />
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="form-group">
                                    <button type="submit" id="submit" name="submit" class="form-control btn btn-primary btn-rounded">Create a Personnel</button>

                                </div>
                            </div>
                        </form>
                    </dl>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function redirectToDetailsPage() {

        window.location.href = "Details";
    }

    $(document).ready(function () {
        $("#CityDropdown").change(function () {
            var selectedCity = $(this).val();
            $.ajax({
                url: "/User/GetTownsForCity",
                type: "GET",
                dataType: "json",
                data: { city: selectedCity },
                success: function (data) {
                    $("#TownDropdown").empty();
                    $.each(data, function (i, town) {
                        $("#TownDropdown").append('<option value="' + town.value + '">' + town.text + '</option>');
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $("#TownDropdown").change(function () {
            var selectedTown = $(this).val();
            var selectedCity = $("#CityDropdown").val();
            $.ajax({
                url: "/User/GetDistrictsForTown",
                type: "GET",
                dataType: "json",
                data: { city: selectedCity, town: selectedTown },
                success: function (data) {
                    $("#DistrictDropdown").empty();
                    $.each(data, function (i, district) {
                        $("#DistrictDropdown").append('<option value="' + district.value + '">' + district.text + '</option>');
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $("#DistrictDropdown").change(function () {
            var selectedDistrict = $(this).val();
            var selectedCity = $("#CityDropdown").val();
            var selectedTown = $("#TownDropdown").val();
            $.ajax({
                url: "/User/GetQuartersForDistrict",
                type: "GET",
                dataType: "json",
                data: { city: selectedCity, town: selectedTown, district: selectedDistrict },
                success: function (data) {
                    $("#QuarterDropdown").empty();
                    $.each(data, function (i, quarter) {
                        $("#QuarterDropdown").append('<option value="' + quarter.value + '">' + quarter.text + '</option>');
                    });
                }
            });
        });
    });

    // function setPhotoPath() {
    //     var input = document.getElementById('PhotoFile');
    //     var hiddenInput = document.getElementById('Photo');

    //     input.addEventListener('change', function () {
    //         var path = input.value;
    //         hiddenInput.value = path;
    //     });
    // }

    // window.onload = setPhotoPath;
</script>








